<div ng-hide="createUserLoginController.userInfo.userId">

    <h1 class="page-title">{{'LoginPage' | translate}}</h1>

    <form role="form" name="loginForm">
        <div class="form-group">
            <label for="user.username">{{'Username' | translate}}</label>
            <div class="input-group">
                <input type="text" class="form-control" id="user.username"
                        placeholder="{{'Username' | translate}}" ng-model="createUserLoginController.user.username">
            </div>
        </div>
        <div class="form-group">
            <label for="user.password">{{'Password' | translate}}</label>
            <div class="input-group">
                <input type="text" class="form-control" id="user.password"
                        placeholder="{{'Password' | translate}}" ng-model="createUserLoginController.user.password">
            </div>
        </div>
        <button class="btn btn-success" ng-click="createUserLoginController.login()"><span>{{'Login' | translate}}</span></button>
    </form>

</div>

<div ng-show="createUserLoginController.userInfo.userId">
    <room-chat user-info="createUserLoginController.userInfo" change-user-function="createUserLoginController.changeUserFunction"></room-chat>
</div>